<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to PhotoSaver </title>
</head>
<body>
    <nav class="mid-nav">
        <ul>
            <li>Home</li>
            <li>Publish a photo</li>
            <li>About us</li>
        </ul>
    </nav>
    <div class="container">
        <header>
            <div class="inside-content">
                <h1>Welcome to PhtotSaver</h1>
                <p>Get ready for the next way to save any photo without being worried about storage</p>
                <p>We save you photo here in our server than will preset a storage totally to you so . </p>
                <p>What you're waiting for ?</p>
                <a class="button-init" href="new">Getting Started</a>
            </div>
            <div class="overlay">

            </div>
        </header>

        <div>
            <h1>All Saved photos</h1>
            <p>You can allow you picture as public in order to appear right beneath here</p>
            <div class="grid-gallery">
               <a href="show/anything"> <figure>
                    <img src="" alt="loading">
                    <figcaption>
                        <h1>Image name here</h1>
                        <p>image description can be just right here</p>
                    </figcaption>
                </figure>
            </a>
            </div>
        </div>
    </div>

    <footer class="footer">
        <ul class="resources">
            <h2>Resources</h2>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <ul class="social medias">
            <h2>social medias</h2>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <ul>
            <h2>Our partners</h2>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </footer>
</body>
</html>